<%- include shared/head.ejs %>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l8">
                <h5>
                    Parking Stats
                </h5>
            </div>
            <div class="input-field col s6 m6 l2">
                <select id="car-park">
                    <option value="" disabled>Select carpark</option>
                    <option value="all">All Carparks</option>
                    <option value="all">All Casual</option>
                    <option value="all">All Permits</option>
                    <% for (var i = 0; i < carParks.length; i++) { %>
                        <option value="<%= carParks[i].id %>" <%= i == 0 ? "selected" : "" %>><%= carParks[i].name %></option>
                    <% } %>
                </select>
            </div>
            
            <div class="input-field col s6 m6 l2">
                <input id="view-date" type="date" class="datepicker" placeholder="Pick a date">
            </div>
            
            <!--<div class="input-field col s12 m4 l2">
                <select id="graph-type">
                    <option value="" disabled>Select graph type</option>
                    <option value="1" selected>Line</option>
                </select>
            </div>-->
        </div>
        
        <div class="row">
            <div class="col s12 m12 l12">
                <div id="graph"></div>
                <h5 id="no-data" class="blue-text lighten-2 center-align hide">No data available</h5>
            </div>
        </div>

    </div>
    <br>
    <br>
</div>

<%- include shared/foot.ejs %>