<%- include shared/head.ejs %>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l7">
                <h5>
                    Parking Stats
                </h5>
            </div>
                
            <div class="input-field col s6 m6 l3">
                <select id="car-park">
                    <option value="" disabled>Select carpark</option>
                    <option value="all">All Carparks</option>
                    <option value="casual" selected>All Casual</option>
                    <option value="permit">All Permits</option>
                    <% for (var i = 0; i < carParks.length; i++) { %>
                        <option value="<%= carParks[i].id %>"><%= carParks[i].name %> (<%= carParks[i].data_name.toUpperCase() %>)</option>
                    <% } %>
                </select>
            </div>
            
            <div class="input-field col s6 m6 l2">
                <input id="view-date" type="date" class="datepicker" placeholder="Pick a date">
            </div>
                
            <div class="col s12 m12 l12 center-align">
                <div id="refresh" class="orange waves-effect waves-light btn"><i class="material-icons left">loop</i><span>Refresh</span></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="center-align" id="loader">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="graph"></div>
                
                <h5 id="no-data" class="blue-text lighten-2 center-align hide">No data available</h5>
            </div>
        </div>
        
        <p>
            This data is fetched from <b><a class="text-blue" href="https://www.pf.uq.edu.au/parking/availability/index.html">this UQ website</a></b>. This data does not include parks around the ring road or any other non-monitored carparks. Whilst all attempts are made to ensure the accuracy of this data, it may not always be 100% correct.
        </p>

    </div>
</div>

<%- include shared/foot.ejs %>