<%- include shared/head.ejs %>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l6">
                <h5>
                    Parking Stats
                </h5>
            </div>
            <div class="input-field col s6 m6 l3">
                <select id="car-park">
                    <option value="" disabled>Select carpark</option>
                    <% for (var i = 0; i < carParks.length; i++) { %>
                        <option value="<%= carParks[i].id %>" <%= i == 0 ? "selected" : "" %>><%= carParks[i].name %></option>
                    <% } %>
                </select>
            </div>
            
            <div class="input-field col s6 m6 l3">
                <select id="graph-type">
                    <option value="" disabled>Select graph type</option>
                    <option value="1" selected>Line</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l12">
                <div id="line_top_x"></div>
            </div>
        </div>

    </div>
    <br>
    <br>
</div>

<%- include shared/foot.ejs %>